= form_for @content_item_residential do |f|
  -if @content_item_residential.errors.any?
    #error_explanation
      %h2= "#{pluralize(@content_item_residential.errors.count, "error")} prohibited this content_item_residential from being saved:"
      %ul
        - @content_item_residential.errors.full_messages.each do |msg|
          %li= msg

  .field
    =# f.text_field :title
  .field
    = f.cktext_area :context, :width => 770, :height => 450
  %br/
  .actions
    = f.submit 'Save'
