= link_to "Home", "/"
|
= link_to "Explore", "/explore"
|
= link_to "Condominiums", "/condominiums"
|
= link_to "Residential Lots", "/residential_lots"
|
= link_to "The Suites", "/the_suites"
|
= link_to "Events", "#"