#navigation
  %div{class: 'menu_item first'}= link_to "Explore", "#"
  %div{class: 'menu_item'}= link_to "Condominiums", "#"
  %div{class: 'menu_item'}= link_to "Residential Lots", "#"
  %div{class: 'menu_item'}= link_to "The Suites", "#"
  %div{class: 'menu_item'}= link_to "Events", "#"