%div{class: 'menu_item first'}= link_to "Explore", "explore"
%div{class: 'menu_item'}= link_to "Condominiums", "condominiums"
%div{class: 'menu_item'}= link_to "Residential Lots", "residential_lots"
%div{class: 'menu_item'}= link_to "The Suites", "the_suites"
%div{class: 'menu_item'}= link_to "Events", "#"