= image_tag('logo_ayalapremier.png', class: 'logo')
%div.name
  = "JC Prado"
%div.contact
  = "Mobile:"
  %div.number
    = "63917 8582551"
%div.email
  = link_to "Send me an Email", "mailto:jcprado.ayalaland@gmail.com"