= form_for @content_suite do |f|
  -if @content_suite.errors.any?
    #error_explanation
      %h2= "#{pluralize(@content_suite.errors.count, "error")} prohibited this content_suite from being saved:"
      %ul
        - @content_suite.errors.full_messages.each do |msg|
          %li= msg
    
  .field
    %br/
    = f.text_field :title
          
  .field
    = f.cktext_area :context, :width => 770, :height => 450
  %br/
  .actions
    = f.submit 'Save Changes'