!!!
%html
  %head
    %title= "Ayala Land Premier Investments"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #header
      = render partial: 'shared/header'
    #navigation
      = render partial: 'shared/navigation'
    #container
      #main
        #sidebar
          = render partial: 'shared/sidebar'
        #content
          = yield
    #footer
      #foot_controls
        = render partial: 'shared/foot_controls'
      #foot_logos
        =# render partial: 'shared/foot_logos'
      #foot_info
        = "Copyright © 2012 Ayala Land Premier Investments - Designed by iKennOnline"